<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="keywords" content="二维码生成,计算器,json解析" />

    <link href="https://web-js-or-css-source.oss-cn-beijing.aliyuncs.com/bjsda_back/bootstrap.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/bootflat/2.0.4/css/bootflat.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://lib.baomitu.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="https://lib.baomitu.com/jsbarcode/3.5.8/JsBarcode.all.min.js"></script>
    <script src="https://lib.baomitu.com/vue/1.0.28/vue.min.js"></script>
    <script src="https://lib.baomitu.com/blueimp-md5/2.6.0/js/md5.min.js"></script>
    <script src="https://lib.baomitu.com/flatpickr/4.5.2/flatpickr.min.js"></script>
    <link href="https://lib.baomitu.com/flatpickr/4.5.2/flatpickr.min.css" rel="stylesheet">
    <script src="./jparticle.jquery.min.js"></script>
    <script src="./sha1.js"></script>
    <title>工具箱-奇幻领域</title>
    <style>
        body {
            background-color: #336690;
        }
        
        .min-height {
            min-height: 200px;
            margin-top: 5px;
            background-color: #CCCC99;
        }
        /*背景图片*/
        
        .s-skin-container {
            background-color: #336690;
            position: fixed;
            _position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            min-width: 1000px;
            z-index: -10;
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            zoom: 1;
        }
    </style>
</head>

<body style="background-color: rgb(241, 242, 246);">
    <div class="s-skin-container s-isindex-wrap">
        <div id="clock3" class="clock"></div>
    </div>

    <div class='container documents' id='vue' style="background-color: rgb(241, 242, 246);">
        <div class="example">
            <!-- <h2 class="example-title" style="color:#336699"> <i class="fa fa-cog fa-spin"></i></h2> -->

            <div class="row" style="margin-top:20px;">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">条形码</label>
                        <input type="text" class="form-control" id='barcode_text'>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="var barcode=$('#barcode_text').val();if(barcode=='')return; $('#barcode').JsBarcode(barcode);">转换</button>
                    <div class=" min-height" id="barcode_show">
                        <svg id="barcode"></svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">二维码</label>
                        <input type="text" class="form-control" id='qrcode'>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="var qrcode=$('#qrcode').val();$('#qrcode_show').html(''); $('#qrcode_show').qrcode(qrcode);">转换</button>

                    <div class=" min-height" id="qrcode_show">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">计算器</label>
                        <input type="text" class="form-control" id='info' v-model="info" @keyup.enter="cal">
                    </div>
                    <button type="button" class="btn btn-primary btn-block" @click="cal">计算</button>

                    <div class=" min-height">
                        <span v-text="previous" style="font-size:xx-large;">   </span><br />
                        <span v-text="result" style="font-size:xx-large;">   </span>


                    </div>
                </div>

            </div>
            <div class='row'>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">时间戳 to 时间</label>
                        <input type="text" class="form-control" v-model='timestamp' placeholder="请选择要转换的unix时间戳">
                    </div>
                    <input type="text" class="form-control" value='{{timestamp | date}}'>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">时间 to 时间戳</label>
                        <input type="text" class="form-control" id="show_date" v-model='date' placeholder="请选择要转换的时间">
                    </div>
                    <input type="text" class="form-control" value='{{date | timestamp}}'>

                </div>
                <!-- md5  md5 md5 md5 md5 md5 md5 md5-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">md5</label>
                        <input type="text" class="form-control" onChange="$('#md5-value').val(md5(this.value));" placeholder="请输入要加密的字符串">
                    </div>
                    <input type="text" class="form-control" id="md5-value" value=''>
                </div>
                <!-- sha1  sha1  sha1   sha1   sha1  -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">sha1</label>
                        <input type="text" class="form-control" onChange="$('#hex_sha1-value').val(hex_sha1(this.value));" placeholder="请输入要加密的字符串">
                    </div>
                    <input type="text" class="form-control" id="hex_sha1-value" value=''>
                </div>

            </div>
            <hr>
            <!-- urldecode  urldecode urldecode urldecode urldecode -->
            <div class="row two">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">urlDecode</label>
                        <input type="text" class="form-control" v-model="url_decode" placeholder="请选择要解码的字符串">
                    </div>

                    <div class=" ">
                        <input type="text" class="form-control" value="{{url_decode | url_decode}}">
                    </div>
                </div>

            </div>
            <!-- urlEncode   urlEncode urlEncode urlEncode urlEncode urlEncode -->
            <div class="row two">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">urlEncode</label>
                        <input type="text" class="form-control" v-model="url_encode" placeholder="请选择要编码的字符串">
                    </div>

                    <div class=" ">
                        <input type="text" class="form-control" value="{{url_encode | url_encode}}">
                    </div>
                </div>

            </div>

            <hr>
            <!-- -------------------------- base64_decode ----------------- -->
            <div class="row two">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">base64_decode</label>
                        <input type="text" class="form-control" v-model="base64_decode" placeholder="请选择要解码的字符串">
                    </div>

                    <div class=" ">
                        <input type="text" class="form-control" value="{{base64_decode | base64_decode}}">
                    </div>
                </div>

            </div>

            <div class="row two">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">base64_encode</label>
                        <input type="text" class="form-control" v-model="base64_encode" placeholder="请选择要编码的字符串">
                    </div>

                    <div class=" ">
                        <input type="text" class="form-control" value="{{base64_encode | base64_encode}}">
                    </div>
                </div>

            </div>

            <div class="row two">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess2">抖音url获取</label>
                        <input type="text" class="form-control" v-model="douyin" placeholder="请输入抖音分享链接">
                    </div>

                    <div class=" ">
                        <input type="text" class="form-control" value="{{douyin | url_regular}}">
                    </div>
                </div>

            </div>

        </div>
        <!-- json 解析 -->
        <div class="example" style='margin-top:12px;'>
            <div class='row'>
                <div class=" col-md-1 " style="margin-top:12px;">
                    <input id="json_length">
                </div>
                <div class="form-group col-md-6 col-md-offset-2" style="margin-top:12px;">

                    <button type="button" class="btn btn-primary btn-block " onclick="var data = $('#json_input').val();var data_json = JSON.parse(data);var data_html = JSON.stringify(data_json, null, 4);$('#json_input').val(data_html)">json解析</button>
                </div>
                <div class="col-md-12">
                    <textarea id="json_input" @blur="showLength" name="json_input" class="col-md-12 form-control" rows='32' style="font-size: 11px !important;" spellcheck="false" placeholder="请输入需要检验的json字符串或URL"></textarea>
                </div>


            </div>
        </div>
        <div class="example" style='margin-top:12px;margin-bottom:50px;'>
            <div class='row'>
                <div class="form-group col-md-6 col-md-offset-3" style="margin-top:12px;">
                    <button type="button" class="btn btn-primary btn-block " onclick="toSql()">转成sql in </button>
                    <button type="button" class="btn btn-primary btn-block " onclick="toarr()">转换成数组 </button>
                </div>

                <div class="col-md-12">
                    <textarea name="" id="sql_id" class="col-md-12 form-control" rows="20" placeholder="换行分开"></textarea>
                </div>
                <div class="col-md-12">
                    <p id="sql_show" style="word-break:break-all;">

                    </p>
                </div>
            </div>
        </div>

    </div>


    <!-- footer -->
    <div style="margin:0px;">
        <div class="footer">
            <div class="container">
                <div class="clearfix">
                </div>
                <div class="footer-copyright text-center">Copyright © 2017 DawnLight</div>
            </div>
        </div>
    </div>
</body>

<script src="analogClock.js"></script>
<script>
    //复制到剪贴板
    function copyText(text) {
        var save = function(e) {
            e.clipboardData.setData('text/plain', text); //下面会说到clipboardData对象
            e.preventDefault(); //阻止默认行为
        }
        document.addEventListener('copy', save);
        document.execCommand("copy"); //使文档处于可编辑状态，否则无效
    }

    function toSql() {
        let word = $("#sql_id").val().split(/[\n]/);
        var sql = "(";
        word.forEach(function(v, i) {
            let val = $.trim(v);
            if (val != "") {
                sql = sql + val;
                if (i != word.length - 1) {
                    sql += ",";
                }
            }

        });
        sql += ")";
        $("#sql_show").text(sql);
    }
    function toarr() {
        let word = $("#sql_id").val().split(/[\n]/);
        var sql = "(";
        word.forEach(function(v, i) {
            let val = $.trim(v);
            if (val != "") {
                sql = sql + '"'+val;
                if (i != word.length - 1) {
                    sql += '",';
                }
            }

        });
        sql += '")';
        $("#sql_show").text(sql);
    }
    let ShengUtils = {};

    /** 
     * Url编码 
     **/
    ShengUtils.encode = function(unzipStr) {
        var zipstr = "";
        var strSpecial = "!\"#$%&'()*+,/:;<=>?[]^`{|}~%";
        var tt = "";
        for (var i = 0; i < unzipStr.length; i++) {
            var chr = unzipStr.charAt(i);
            var c = ShengUtils.StringToAscii(chr);
            tt += chr + ":" + c + "n";
            if (parseInt("0x" + c) > 0x7f) {
                zipstr += encodeURI(unzipStr.substr(i, 1));
            } else {
                if (chr == " ")
                    zipstr += "+";
                else if (strSpecial.indexOf(chr) != -1)
                    zipstr += "%" + c.toString(16);
                else
                    zipstr += chr;
            }
        }
        return zipstr;
    }
    /**
     * Url解码 
     **/
    ShengUtils.decode = function(zipStr) {
        var uzipStr = "";
        for (var i = 0; i < zipStr.length; i++) {
            var chr = zipStr.charAt(i);
            if (chr == "+") {
                uzipStr += " ";
            } else if (chr == "%") {
                var asc = zipStr.substring(i + 1, i + 3);
                if (parseInt("0x" + asc) > 0x7f) {
                    uzipStr += decodeURI("%" + asc.toString() + zipStr.substring(i + 3, i + 9).toString());;
                    i += 8;
                } else {
                    uzipStr += ShengUtils.AsciiToString(parseInt("0x" + asc));
                    i += 2;
                }
            } else {
                uzipStr += chr;
            }
        }
        return uzipStr;
    }

    ShengUtils.StringToAscii = function(str) {
        return str.charCodeAt(0).toString(16);
    }

    ShengUtils.AsciiToString = function(asccode) {
        return String.fromCharCode(asccode);
    }
    $(function() {
        // $(".s-skin-container").jParticle({
        //     background: '#336690'
        // });
        document.getElementById("show_date").flatpickr();
        //条形码
        $('#barcode_text').keyup(function() {
            var barcode = $('#barcode_text').val();
            if (barcode == '') return;
            $("#barcode").JsBarcode(barcode);
        });
        //二维码
        $('#qrcode').keyup(function() {
            var qrcode = $('#qrcode').val();
            $('#qrcode_show').html('');
            $('#qrcode_show').qrcode(qrcode);



        });

    });

    function showData(slef) {
        var data = $(slef).attr('mongo-data');
        var data_json = JSON.parse(data);
        var data_html = JSON.stringify(data_json, null, 4);
        $('#show_data_msg').html(data_html);
        layer.open({
            type: 1,
            shade: 0.3,
            area: '800px',
            title: '数据信息', //不显示标题
            content: $('#data_msg'), //捕获的元素
        });

    }
    //时间戳过滤器
    Vue.filter('timestamp', function(value) {
        if (value == '') return '';
        var date = moment(value).unix();
        return date;
    });
    //时间戳过滤器
    Vue.filter('date', function(value) {
        console.log(value);
        if (value == '') return '';
        var res = moment(value * 1000).format('YYYY-MM-DD HH:mm:ss');
        return res;
    });
    //url编码过滤器
    Vue.filter('url_decode', function(value) {
        if (value == '') return '';
        var re = ShengUtils.decode(value);
        return re;
    });
    Vue.filter('url_encode', function(value) {
        if (value == '') return '';
        var re = ShengUtils.encode(value);
        return re;
    });
    //base64过滤器 字段太长似乎不能搞
    Vue.filter('base64_encode', function(value) {
        if (value == '') return '';
        var re = window.btoa(value);
        return re;
    });
    Vue.filter('base64_decode', function(value) {
        if (value == '') return '';
        var re = window.atob(value);
        return re;
    });
    Vue.filter('url_regular', function(value) {
        result = value.match(/(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-)+)/g);

        return result[0];
    });
    var vue;
    vue = new Vue({
        el: '#vue',
        data: {
            info: '',
            previous: '',
            result: '',
            timestamp: '',
            date: '',
            url_decode: "",
            url_encode: "",
            base64_encode: "",
            base64_decode: "",
            douyin: "",
        },
        methods: {
            cal: function() {
                vue.previous = vue.info;
                vue.result = '=';
                vue.result += eval(vue.info);
                vue.info = '';
                $('#info').focus();
                console.log(eval(vue.info));
            },
            showLength: function() {
                var str = $('#json_input').val();
                $('#json_length').val("一共   " + str.length + "   个字");
            }
        }
    });
    AnalogClock("clock3", new AnalogClockOption(120, "#eee", "#333")); //using option class to customize
    //2017
</script>
