<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css"> -->
    <!-- <link href="https://fonts.loli.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css"> -->
    <link href="https://jgyoucdn.oss-cn-beijing.aliyuncs.com/css/quasar.mat.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://jgyoucdn.oss-cn-beijing.aliyuncs.com/js/vue.min.js"></script>
    <script src="https://jgyoucdn.oss-cn-beijing.aliyuncs.com/js/quasar.mat.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@latest/dist/umd/i18n.zh-hans.umd.min.js"></script>
    <script src="https://jgyoucdn.oss-cn-beijing.aliyuncs.com/js/axios.min.js"></script>
    <title>创世纪-在线圣经</title>
    <style>
        /* fallback */
        
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
        }
        
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
        
        body {
            background-color: #f8f4ea;
        }
        
        .q-list {
            color: #423838;
            font: normal 400 12px/1.5 Microsoft YaHei, Arial;
            font-weight: 400;
            font-size: 18px;
            border: none;
        }
    </style>
</head>

<body id="body">
    <div id="q-app">
        <blockquote v-show="show_tips" class="absolute-left " style="color:#fff;z-index:100000;background-color: #fff;height:calc(50vh - 80px);top:26%;width:100%;background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        ">
            <h2 class="text-bold text-center">{{current_title}} {{pid}}:{{sid}} {{current_content}}</h2>

        </blockquote>
        <q-layout view="lHh Lpr fff">
            <div style="margin:5px auto;max-width:1100px;" v-touch-pan.horizontal.prevent.mouse="handlePan">
                <div>
                    <q-list id="content_list" style="text-align:left;overflow:auto;margin-bottom:60px;padding:20px;">
                        <q-list-header>{{current_title}}</q-list-header>
                        <div class="" v-for="c in contents">

                            <h2 v-if="c.section == sid && width>700"> {{c.paragraph}}:{{c.section}} {{c.content}}</h2>
                            <p v-else> {{c.paragraph}}:{{c.section}} {{c.content}}</p>
                        </div>
                    </q-list>
                </div>
            </div>

            <div class="fixed-bottom" style="background-color: #f8f4ea;">
                <q-btn outline color="brown" class="" style="color: goldenrod;position:absolute;" :label="show_tips?'关闭启应':'打开启应'" @click="show_tips=!show_tips"></q-btn>
                <q-pagination class="offset-md-5 offset-xs-3" color="brown" v-model="page" input :min="minPages" :max="maxPages" @input="to">

                </q-pagination>

                <q-select align="center" color="brown" inverted-light v-model="select" @input="gotoTitle" filter :options="selectOptions"></q-select>
            </div>

        </q-layout>
    </div>

    <script>
        Quasar.utils.scroll.animScrollTo(document.getElementById("content_list"), 900, 100);
        var width = document.body.clientWidth;
        console.log(Quasar);
        var vue = new Vue({
            el: '#q-app',
            data: function() {
                return {
                    model: "",
                    title: [],
                    title_list: [],
                    current_title: "创世纪",
                    current_content: "",
                    selectOptions: [],
                    select: '1',
                    pid: 1,
                    tid: 1,
                    sid: 1,
                    page: 1,
                    minPages: 1,
                    maxPages: 27,
                    contents: [],
                    show_tips: false,
                    width: width,
                }
            },
            methods: {
                launch: function(url) {
                    Quasar.utils.openURL(url)
                },
                getTitle() {
                    axios.get(`http://api.kaffir-lily.cc/get_bible_title`).then(({
                        data
                    }) => {
                        this.title = data.data;
                        let select = [];
                        data.data.forEach(function(v, i) {
                            let title = {};
                            title.label = v.cn_title + v.prefix;
                            title.value = v.id;
                            select.push(title);
                        });

                        this.selectOptions = select;
                        this.getContent();
                    });
                },
                getContent: function() {
                    axios.get(`http://api.kaffir-lily.cc/get_bible?pid=${this.pid}&tid=${this.tid}`).then(({
                        data
                    }) => {
                        this.page = this.pid;
                        this.contents = data.data;
                        this.current_content = this.contents[this.sid - 1].content;
                        document.scrollingElement.scrollTop = 0;
                        this.current_title = this.title[this.tid - 1].cn_title;
                        this.maxPages = eval(this.title[this.tid - 1].paragraph).length;
                    })

                },
                to(pid) {
                    this.sid = 1;
                    if (pid < 1) {
                        pid = 1;
                    }
                    if (pid > this.maxPages) {
                        pid = this.maxPages;
                    }
                    console.log(pid);
                    this.pid = pid;
                    this.getContent();

                },
                up() {
                    this.sid--;
                    if (this.sid < 1) {
                        this.sid++;
                        return;
                    }
                    if (this.sid < this.contents.length - 10) {
                        var sHeight = Quasar.utils.scroll.getScrollHeight(document.getElementById("body"));
                        var Height = Quasar.utils.dom.height(document.getElementById("body"));
                        var toHeight = this.sid / this.contents.length * sHeight;
                        // console.log(toHeight);
                        Quasar.utils.scroll.animScrollTo(document.getElementById("body"), toHeight - sHeight / 100 * 20, 100);
                    }

                },
                down() {
                    this.sid++;
                    if (this.sid > this.contents.length) {
                        this.sid--;
                        return;
                    }
                    if (this.sid > 10) {
                        var sHeight = Quasar.utils.scroll.getScrollHeight(document.getElementById("body"));
                        var Height = Quasar.utils.dom.height(document.getElementById("body"));
                        var toHeight = this.sid / this.contents.length * sHeight;
                        console.log(toHeight);
                        Quasar.utils.scroll.animScrollTo(document.getElementById("body"), toHeight - sHeight / 100 * 30, 100);
                    }

                },
                left() {

                    if (this.tid == 1 && this.pid == 1) {
                        return;
                    }
                    if (this.pid == 1) {
                        this.tid = this.tid - 1;
                        this.sid = 1;
                        this.select = this.tid + "";
                        this.pid = eval(this.title[this.tid - 1].paragraph).length;
                        this.getContent();
                        return;
                    }
                    this.pid--;
                    this.sid = 1;
                    this.getContent();

                },
                right() {
                    // console.log(this.tid, this.pid);
                    if (this.tid == 66 && this.pid == 22) {
                        return;
                    }

                    if (this.pid == this.maxPages) {
                        this.tid = ++this.tid;
                        this.select = this.tid + "";
                        this.pid = 1;
                        this.sid = 1;


                        this.getContent();
                        return;
                    }

                    this.pid++;
                    this.sid = 1;
                    this.getContent();
                },
                gotoTitle(val) {
                    console.log(val);
                    this.tid = val;
                    this.pid = 1;

                    this.getContent();

                },
                handlePan({
                    evt,
                    ...info
                }) {
                    if (info.isFinal) {
                        // console.log(info);
                        if (info.direction == "left") {
                            this.right();
                        } else {
                            this.left();
                        }
                    }

                }
            },
            created() {
                this.getTitle();
            },
            watch: {
                select: function(val, oldVal) {
                    this.current_title = this.title[val - 1].cn_title;
                    document.title = this.current_title + "-在线圣经";
                    // console.log(val, oldVal);
                },
                sid: function(val, oldVal) {

                    this.current_content = this.contents[val - 1].content;

                    // console.log(val, this.current_content);
                }
            },

        })

        document.onkeydown = function(event) {
            var evt = event || window.event || arguments.callee.caller.arguments[0];

            if (evt.keyCode) {
                if (evt.keyCode == 38) {
                    vue.up();
                    console.log("up");
                }
                if (evt.keyCode == 40) {
                    vue.down();
                    console.log(Quasar.utils.scroll.getScrollHeight(document.getElementById("body")));
                    console.log("Down");
                }
                if (evt.keyCode == 39) {
                    vue.right();
                    console.log("Right");
                }
                if (evt.keyCode == 37) {
                    vue.left();
                    console.log("Left");
                }
            }
        }

        //2018-10
    </script>

</body>

</html